<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Mon Application To-Do List</h1>
        <nav>
            <ul>
                <li><a href="{% url 'task_list' %}">Liste des Tâches</a></li>
                <li><a href="{% url 'task_add' %}">Ajouter une Tâche</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mon Application</p>
    </footer>
</body>
</html>
